.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.board-background {
  background-color: #eeaf67;
}

.piece {
  border: 0;
  outline:none!important;
  display: inline-block;
  cursor: pointer;
  float: left;
  font-size: 24px;
  font-weight: bold;
  height: 42px;
  width: 42px;
  padding: 0;
  text-align: center;
  background-image: url(piece.png);
}

.piece-normal {
  background-position: -40px -40px;
}

.piece-top {
  background-position: -40px -10px;
}

.piece-bottom {
  background-position: -40px -70px;
}

.piece-left {
  background-position: -10px -40px;
}

.piece-right {
  background-position: -130px -40px;
}

.piece-left-top {
  background-position: -10px -10px;
}

.piece-right-top {
  background-position: -130px -10px;
}

.piece-left-bottom {
  background-position: -10px -70px;
}

.piece-right-bottom {
  background-position: -130px -70px;
}

.span-black {
  display: inline-block;
  width: 80%;
  height: 80%;
  margin: 10%;
  border-radius: 50%;
  background-color: black;
  box-shadow: .01rem .01rem .1rem rgba(0, 0, 0, .5), 0 0 .05rem rgba(240, 240, 240, .5), .05rem .05rem .01rem rgba(255, 255, 255, .15) inset, .1rem .1rem .1rem rgba(255, 255, 255, .05) inset, -.05rem -.05rem .25rem rgba(0, 0, 0, .15) inset, -.1rem -.1rem .35rem rgba(0, 0, 0, .05) inset;
}

.span-white {
  display: inline-block;
  width: 80%;
  height: 80%;
  margin: 10%;
  border-radius: 50%;
  background-color: white;
  box-shadow: .01rem .01rem .1rem rgba(0, 0, 0, .5), 0 0 .05rem rgba(240, 240, 240, .5), .05rem .05rem .01rem rgba(255, 255, 255, .15) inset, .1rem .1rem .1rem rgba(255, 255, 255, .05) inset, -.05rem -.05rem .25rem rgba(0, 0, 0, .15) inset, -.1rem -.1rem .35rem rgba(0, 0, 0, .05) inset;
}

.span-focus {
  display: block;
  width: 20%;
  height: 20%;
  margin: 40%;
  background-color: red;
}